
.left-side{
    width: 120px;
    height: 100vh;
    background-color: #4E73DF;
    div{
        padding: 40px;
    }
i{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #6988E4;
    padding-bottom: 10px;
    align-items: center;
    color: #96ABEC;
}
}


