<div class="form">
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control" [(ngModel)]="user.firstName" />
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input class="form-control" [(ngModel)]="user.lastName" type="password" />
  </div>

  <div class="form-group">
    <label>Alive</label>
    <input [(ngModel)]="user.alive" type="checkbox" />
  </div>

  <div class="form-group">
    <label>Gender</label>
    <div *ngFor="let gender of genders">
      <input [(ngModel)]="user.gender" type="radio" [value]="gender" />{{
        gender
      }}
    </div>
  </div>

  <div class="form-group">
    <label>Gender</label>
    <input [(ngModel)]="user.birthDate" type="date" />
  </div>

  <button type="submit" class="btn btn-primary" (click)="submit()">
    Start
  </button>
</div>
