<nav>
    
      <div>
        <i class="fas fa-bars"></i>
      </div>
      <div class="nav_input">
        <input type="text" placeholder="Search for...">
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="nav_icons">
        <div class="first">
          <i class="fas fa-bell"></i>
          <i class="fas fa-envelope"></i>
        </div>
        <div>
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
    
  </nav>

  <!-- <div class="nav_container"></div> -->